<header class="c-header">
    <div class="l-container">
        <div class="c-header__inner">
            <div class="c-header__glogo">
                <a href="./">
                    <img src="../assets/img/logo.png" alt="ENTRY" class="c-header__logo">
                </a>
            </div>
            <h1 class="c-header__title">ENTRY</h1>
            <p class="c-header__subtitle">採用応募</p>
        </div>
    </div>
</header>
